# ChatGPT API credentials
OPENAI_API_KEY=your-api-key-here

# Spotify API credentials
SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here

# Google Books API key
GOOGLE_BOOKS_API_KEY=your_google_books_api_key_here

# NEED TO PUT API KEYS IN ANOTHER .env FILE